@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap);

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1265px;
    width: 100%;
    margin: 0 auto;
}

.main {
    position: relative;
    background-color: #001427;
    width: 100%;
    z-index: 1;
}

.main_gradient_top {
    background: linear-gradient(180deg, rgba(2, 2, 18, 0.62) 0%, rgba(2, 2, 18, 0.10) 76.56%, rgba(2, 2, 18, 0.00) 100%);
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
}

.main_gradient_bottom {
    background: linear-gradient(360deg, #020212 0%, rgba(2, 2, 18, 0.00) 74.02%);
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main_title {
    background: var(--Linear, linear-gradient(90deg, #18E8A4 0%, #166088 100%));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 78px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
}

.main_title_span {
    font-weight: 400;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    z-index: 5;
}

.header_link {
    color: #2FDF84;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
}

.header_button {
    color: black;
    background-color: #2FDF84;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 14px 28px;
}

.header_button:hover {
    background-color: #24ad6d;
    transition: 0.4s;
    cursor: pointer;
}

.header_button:not(:hover) {
    background-color: #2FDF84;
    transition: 0.4s;
}

.main_button_wrapper {
    display: flex;
    justify-content: center;
}

.main_subtitile {
    color: white;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    margin-top: 32px;
}


.main_button {
    color: black;
    font-size: 36px;
    background-color: #2FDF84;
    border-radius: 100px;
    border: none;
    font-weight: bold;
    text-align: center;
    padding: 18px 0px;
    max-width: 360px;
    width: 100%;
    margin-top: 74px;
    margin-bottom: 74px;
    z-index: 6;
}

.main_button:hover {
    background-color: #24ad6d;
    transition: 0.4s;
    cursor: pointer;
}

.main_button:not(:hover) {
    background-color: #2FDF84;
    transition: 0.4s;
}

.benefits_title {
    margin-top: 100px;
    margin-bottom: 64px;
    text-align: center;
    font-size: 56px;
    font-weight: 900;
}


.benefit_video_wrap {
    display: flex;
    justify-content: center;
}

.benefit_video {
    max-width: 1050px;
    width: 100%;
    height: 460px;
    margin: 0 auto;
    border-radius: 16px;
}

.benefits_info_wrap {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
}

.benefits_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 100px;
}

.benefits_info_item {
    text-align: center;
    max-width: 330px;
}

.benefit_photo {
    display: block;
    margin: 0 auto;
}

.benefits_info_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

.benefits_info_text {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding-right: 5px;
    padding-left: 5px;
}

.benefits_span {
    font-weight: bold;
    font-size: 18px;
}

.benefits_span_width {
    display: block;
    width: 278px;
    margin: 0 auto;
}

.benefits_span_reverseBold {
    font-weight: bold;
}

.benefits_span_reverseNormal {
    font-weight: normal;
}

.start_section {
    background-color: #E7EDF4;

}

.start_container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.start_title_wrap {
    width: 260px;
}

.start_title {
    font-size: 56px;
    font-weight: 900;

}

.start_category_title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
}

.start_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

}

.start_title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start_categories {
    max-width: 410px;
    width: 100%;
}

.start_category {
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 20px 30px;
    max-width: 430px;
    width: 100%;
    margin-top: 8px;
    align-items: center;
}

.pointer_block img {
    margin-right: -105px;
    margin-bottom: -83px;
}

.start_category_hiring {
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 20px 30px;
    max-width: 430px;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
}

.start_button {
    color: black;
    background-color: #2FDF84;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px 28px;
    cursor: pointer;
}

.start_button:hover {
    background-color: #24ad6d;
    transition: 0.4s;
    cursor: pointer;
}

.start_button:not(:hover) {
    background-color: #2FDF84;
    transition: 0.4s;
}

.steps_section {
    background-color: #F7F7F7;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
}

.steps_title {
    font-size: 56px;
    font-weight: 900;
    padding-top: 100px;
    margin-bottom: 64px;
    text-align: center;
}

.steps_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.step_block {
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.09), 0px 4px 2px 0px rgba(0, 0, 0, 0.09), 0px 8px 4px 0px rgba(0, 0, 0, 0.09), 0px 16px 8px 0px rgba(0, 0, 0, 0.09), 0px 32px 16px 0px rgba(0, 0, 0, 0.09);
    position: relative;
}

.step_block_title {
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 24px;
}

.step_block_title_1 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 55px;
}

.step_block_text {
    font-size: 16px;
    font-weight: medium;
    color: #596067;
    line-height: 1.5;
    position: relative;
    z-index: 5;
}

.step_background {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
}

.steps_schema {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.reviews_section {
    background-color: #001427;

}

.reviews_title {
    font-size: 56px;
    font-weight: 900;
    padding-top: 100px;
    margin-bottom: 64px;
    text-align: center;
    color: white;
}

.reviews_block {
    display: flex;
    max-width: 1050px;
    height: 380px;
    background-color: #FBFBFB;
    border-radius: 16px;
}

.reviews_block img {
    width: 215px;
    height: 220px;
}

.swiper-pagination-bullet {
    background-color: #18E8A4 !important;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 50px !important;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
}

.swiper-pagination-bullet-active {
    width: 50px !important;
    border-radius: 14px !important;
}

.swiper_button {
    position: absolute;
    right: -120px;
    top: 375px;
    cursor: pointer;
    width: 90px;
}

.review_info {
    /* display: flex; */
    padding: 40px;
}

.cuctomer_title {
    font-size: 24px;
    font-weight: 800;
    margin-top: 15px;
}

.cuctomer_subtitle {
    font-size: 22px;
    font-weight: medium;
    color: #485563;
    margin-top: 5px;
}

.customer_text {
    color: #202523;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 20px;
}

form {
    width: 100%;
}

.form_section {
    background-color: #E5ECF2;
    padding-bottom: 100px;
}

.form_title {
    font-size: 56px;
    font-weight: 900;
    padding-top: 100px;
    margin-bottom: 64px;
    text-align: center;
}

.form_block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1050px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;
}

.form_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.form_input {
    border: none;
    border-bottom: 1px solid black;
    width: 460px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    padding-left: 0px;
}

.form_input:focus {
    outline: none;
}

.role_wrapper {
    width: 91%;
    margin: 0 auto;
}

.form_input_role {
    border: none;
    border-bottom: 1px solid black;
    max-width: 950px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
    padding-left: 0px;
}

.form_input_role:focus {
    outline: none;
}

.form_button {
    color: black;
    background-color: #2FDF84;
    border-radius: 56px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 28px 75px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 50px;
}

form span {
    color: red
}

.form_button_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_block {
    background-color: #001427;
    display: flex;
}

.footer_block_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_block{
    height: 75px;
    align-items: center;
}

.footer_block_wrap a, p {
    color: #8C99A5;
    text-decoration: none;
}

.footer_info_wrap p{
    padding: 3px;
}

.footer_tabs_wrap{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
